@import "tailwindcss";

@theme {
  --color-primary: #38bdf8;
  --color-primary-dark: #3730a3;
  --font-family-sans: 'Outfit', system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans antialiased;
  }
}
